* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1b1b: #1c1b1b;
  --color-hover: #deffc6;
  --color-disable: #a3a3a3;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(191, 191, 191);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    180deg,
    rgb(255, 74, 74),
    rgb(255, 228, 218)
  );
  border-radius: 10px;
}
.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-wrapper {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
}

body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: "Rubik", sans-serif;
}
a {
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  display: inline-block;
  color: white;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.button {
  border: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 12px 33px;
  border-radius: 25px;
  background-color: var(--color-232f3e);
}
.button:hover {
  color: #131921;
  background-color: var(--color-febd69);
}
.button-disable {
  border: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 12px 33px;
  border-radius: 25px;
  cursor: not-allowed;
  background-color: var(--color-disable);
}
.button2 {
  border: none;
  font-size: 13px;
  font-weight: 500;
  color: #131921;
  padding: 12px 33px;
  border-radius: 25px;
  background-color: var(--color-febd69);
}
.button2:hover {
  color: white;
  background-color: var(--color-232f3e);
}

.hvr-color1:hover {
  color: var(--color-febd69) !important;
}

/* HEADER PART  */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
.header-upper {
  background-color: var(--color-131921);
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
}
.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-bottom {
  background-color: var(--color-232f3e);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-bottom .dropdown button::before {
  padding: 10px 10px 0px 0px;
  content: url("../public/images/menu.svg");
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  width: 100%;
  background-color: var(--color-131921);
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item {
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover {
  background: transparent;
  color: var(--color-febd69) !important;
}
@media only screen and (max-width: 350px) {
  .header-bottom .navigations {
    font-size: 12px;
  }
}

/* HEADER PART ENDS HERE */

/* FOOTER PART */
footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
/* FOOTER PART ENDS HERE */

/* -------------HOME PAGE------------- */
/* BANNER SECTION */
.main-banner-content,
.small-banner-content {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
.main-banner-content h4,
.small-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-131921);
  letter-spacing: 0.4px;
}
.small-banner-content h4 {
  font-size: 14px;
}
.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -1px;
  text-transform: none;
}
.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  color: var(--color-131921);
  letter-spacing: 0.4px;
}
@media only screen and (max-width: 350px) {
  .small-banner-content h4 {
    font-size: 12px;
    line-height: 18px;
  }
  .small-banner-content h5 {
    font-size: 16px;
    line-height: 22px;
  }
  .small-banner-content p {
    font-size: 12px;
    line-height: 16px;
  }
  .main-banner-content h5 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media only screen and (max-width: 500px) {
  .small-banner-content h4 {
    font-size: 12px;
    line-height: 18px;
  }
  .small-banner-content h5 {
    font-size: 16px;
    line-height: 22px;
  }
  .small-banner-content p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .small-banner-content h4 {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 8px;
  }
  .small-banner-content h5 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 10px;
  }
  .small-banner-content p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .small-banner-content h4 {
    font-size: 12px;
    line-height: 18px;
  }
  .small-banner-content h5 {
    font-size: 16px;
    line-height: 22px;
  }
  .small-banner-content p {
    font-size: 12px;
    line-height: 16px;
  }
}

/* BANNER SECTION ENDS HERE */

/* SERVICE SECTION */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
/* SERVICE SECTION ENDS HERE */

/* CATEGORIES SECTION */
.categories .section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}
/* CATEGORIES SECTION ENDS HERE */
/* -------------HOME PAGE ENDS HERE------------- */

/* BLOG PART */
.blog-card {
  border-radius: 10px;
  color: black !important;
  background-color: white;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-777777);
}
.blog-content h5 {
  font-size: 18px;
  color: var(--color-1c1b1b);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}

.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1b1b);
}
.single-blog-card p {
  font-size: 14px;
  color: var(--color-777777);
}
.single-blog-card a {
  font-size: 15px;
  margin-bottom: 20px;
  color: var(--color-777777);
}
/* BLOG PART ENDS HERE */

/* PRODUCT SECTION */
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.product-card-link {
  width: 100%;
}
.product-card p.description {
  display: block;
  font-size: 13px;
  color: var(--color-777777);
}
.product-card:hover .action-bar {
  right: 13px;
}
.product-card img {
  object-fit: contain;
  transition: 0.4s all;
}
.product-card:hover img {
  transform: scale(1.1);
}
.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1b1b);
}
.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1b1b);
}
.action-bar {
  top: 12%;
  right: -23px;
  transition: 0.3s;
}
.wishlist-icon {
  top: 3%;
  right: 15px;
  z-index: 2;
}
/* PRODUCT SECTION ENDS HERE */

/* SPECIAL PRODUCT SECTION */
.special-product-card {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
/* SPECIAL  PRODUCT SECTION ENDS HERE*/

/* FAMOUS-CARD SECTION */
.famous-card {
  border-radius: 10px;
}
.famous-card .famous-card-content {
  top: 10%;
}
.famous-card img {
  height: 350px;
  width: 100%;
  border-radius: 10px;
}
.famous-card-content h5 {
  color: white;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  margin-bottom: 7px;
}
.famous-card-content h6 {
  color: white;
  font-size: 22px;
  line-height: 38px;
  font-weight: 500px;
}
.famous-card-content p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100px;
}
/* FAMOUS-CARD SECTION ENDS HERE */

/* OUR STORE */
.filter-card {
  border-radius: 10px;
  background-color: white;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-1c1b1b);
}
.filter-card ul,
.filter-card .form-check-label {
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}
.filter-card li {
  font-size: 12px;
  line-height: 18px;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: var(--color-febd69);
  border-color: inherit;
}
.filter-card .form-check-input:checked {
  border-color: var(--color-febd69);
  background-color: var(--color-febd69);
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
  color: var(--color-1c1b1b);
}
.colors {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.colors li {
  width: 20px;
  height: 20px;
  background-image: linear-gradient(
    45deg,
    rgb(255, 237, 122),
    rgb(77, 255, 122)
  );
  border-radius: 50%;
}
.random-products h5 {
  font-size: 14px;
}
.random-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}
.filter-arrow {
  cursor: pointer;
}
.filter-sort-grid {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.sort,
.sort option,
.total-products {
  font-size: 14px;
}
.grid img {
  height: 30px;
  width: 30px;
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f2f2f2;
}
.grid img:hover {
  background-color: var(--color-hover);
}
.gr-12 {
  width: 100%;
}
.gr-6 {
  width: 49.3%;
  padding: 0 5px;
}
.gr-4 {
  width: 32%;
  padding: 5px 2px;
}
.gr-3 {
  width: 24%;
  padding: 0px 0px 0px 12px;
}
.gr-12 .product-card {
  display: flex;
  align-items: center;
  gap: 20px;
}
.gr-12 .product-card .product-image {
  width: 100%;
  height: 270px;
}
.gr-12 .action-bar {
  top: 15%;
}
.gr-12 .product-card p.description {
  display: block;
  font-size: 13px;
  color: var(--color-777777);
}
.gr-6 .product-card .product-image img {
  width: 100%;
  height: 250px;
}
.gr-3 .product-card .product-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
/* OUR STORE ENDS HERE */

/* CONTACT US PAGE */
.contact-inner-wrapper {
  padding: 30px 20px;
  gap: 15px;
  border-radius: 15px;
  background-color: white;
}
.contact-inner-wrapper > div {
  width: 48%;
}
.contact-title {
  margin-top: 0;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
  line-height: 35px;
}
.contact-inner-wrapper form .form-control {
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  background-color: var(--color-f5f5f7);
}
.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);
}
/* CONTACT US ENDS HERE */

/* COMPARE PRODUCTS + WISTH-LIST PAGE */
.compare-product-card,
.wishlist-product-card {
  padding: 20px 15px;
  border-radius: 10px;
  background-color: white;
}
.compare-product-card .cross,
.wishlist-product-card .cross {
  top: 10px;
  right: 10px;
  width: 20px;
  cursor: pointer;
}
.compare-product-details h5.title,
.wishlist-product-details h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1b1b);
}
.compare-product-details h6.price,
.wishlist-product-details h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
/* COMPARE PRODUCTS + WISH-LIST PAGE ENDS HERE */

/* AUTH CARD */
.auth-card {
  width: 500px;
  padding: 20px 30px;
  margin: 30px auto;
  background-color: white;
  border-radius: 10px;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}
.auth-card h6 {
  font-size: 13px;
  font-weight: 500;
  color: var(--color-777777);
}
.auth-card .form-control {
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  border-color: transparent;
  color: var(--color-777777);
  background-color: var(--color-f5f5f7);
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  color: var(--color-1c1b1b);
}
/* AUTH CARD ENDS HERE */

/* POLICY PAGES */
.policy {
  padding: 30px;
  border-radius: 10px;
  background-color: white;
}
/* POLICY PAGES ENDS HERE */

/* MAIN PRODUCT PAGES */
.main-product-wrapper .other-images {
  width: 60px;
  height: 60px;
  object-fit: cover;
  padding: 5px;
  cursor: pointer;
}
/* .main-product-wrapper .main-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
} */

@media only screen and (min-width: 350px) {
  .main-product-wrapper .other-images {
    width: 70px;
    height: 70px;
  }
  /* .main-product-wrapper .main-image {
    height: 400px;
  } */
}
@media only screen and (min-width: 500px) {
  .main-product-wrapper .other-images {
    width: 100px;
    height: 100px;
  }
  /* .main-product-wrapper .main-image {
    height: 600px;
  } */
}
@media only screen and (min-width: 770px) {
  .main-product-wrapper .other-images {
    width: 80px;
    height: 80px;
  }
  /* .main-product-wrapper .main-image {
    height: 500px;
  } */
}
@media only screen and (min-width: 990px) {
  .main-product-wrapper .other-images {
    width: 110px;
    height: 110px;
  }
  /* .main-product-wrapper .main-image {
    height: 700px;
  } */
}

.main-product-details {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}
.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1b1b);
}
.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  font-weight: 600;
  color: var(--color-1c1b1b);
}
.main-product-details a,
.main-product-details .review-count {
  font-size: 14px;
  color: var(--color-777777);
}
.product-heading {
  font-size: 14px;
  margin: 0px;
  color: var(--color-1c1b1b);
}
.product-data {
  font-size: 13px;
  margin: 0px;
  color: var(--color-777777);
}

.description-wrapper h4,
.reviews-wrapper h3 {
  font-size: 26px;
  margin-bottom: 10px;
  color: var(--color-1c1b1b);
}
.description-wrapper p {
  font-size: 14px;
  border-radius: 5px;
  color: var(--color-777777);
}
.review-inner-wrapper {
  padding: 30px;
  border-radius: 5px;
  background-color: white;
}
.review-head {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1b1b);
}
.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-777777);
}
.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}
.review p {
  font-size: 14px;
  color: var(--color-777777);
}
.review {
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* MAIN PRODUCT PAGES ENDS HERE */

/* CART */
.cart-header,
.cart-data {
  border-bottom: 1px solid #eaeaea;
}
.cart-header h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-777777);
}
.cart-col-1 {
  width: 40%;
}
.cart-col-1 p,
.cart-col-1 h5 {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--color-777777);
}
.cart-col-2 {
  width: 10%;
}
.cart-col-2 h5 {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--color-1c1b1b);
}
.cart-col-3 {
  width: 15%;
}
.cart-col-4 {
  width: 15%;
}
.cart-wrapper .subtotal {
  font-size: 18px;
  color: var(--color-777777);
}
.cart-wrapper .tax {
  font-size: 13px;
  color: var(--color-777777);
}
/* CART ENDS HERE */

/* CHECKOUT PAGE */
.checkout-wrapper .title,
.checkout-wrapper .user-details,
.checkout-wrapper .total,
.checkout-wrapper .shipping,
.checkout-wrapper .subtotal,
.checkout-wrapper .product-title,
.checkout-wrapper .product-code {
  font-size: 14px;
  color: var(--color-777777);
}
.checkout-wrapper .total-price,
.checkout-wrapper .shipping-price,
.checkout-wrapper .subtotal-price,
.checkout-wrapper .product-price {
  font-size: 16px;
  color: var(--color-777777);
}
/* CHECKOUT PAGE ENDS HERE */
