* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1b1b: #1c1b1b;
}
.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-wrapper {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
}

body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
  color: white;
}
a:hover {
  text-decoration: none;
  display: inline-block;
  color: white;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.button {
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  background-color: var(--color-232f3e);
}
.button:hover {
  color: #131921;
  background-color: var(--color-febd69);
}

/* HEADER PART  */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
.header-upper {
  background-color: var(--color-131921);
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
}
.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-bottom {
  background-color: var(--color-232f3e);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-bottom .dropdown button::before {
  padding: 10px 10px 0px 0px;
  content: url("../public/images/menu.svg");
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  width: 100%;
  background-color: var(--color-131921);
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item {
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover {
  background: transparent;
  color: var(--color-febd69) !important;
}
/* HEADER PART ENDS HERE */

/* FOOTER PART */
footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
/* FOOTER PART ENDS HERE */

/* HOME PAGE */
.main-banner-content {
  top: 15%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-131921);
  letter-spacing: 0.4px;
}
.small-banner {
  width: 49%;
}
.small-banner-content {
  top: 15%;
  left: 10%;
}
.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -1px;
  text-transform: none;
}
.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  color: var(--color-131921);
  letter-spacing: 0.4px;
}

/* section 2 */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
/* section 2 ends here */

/* categories section */
.categories > div {
  width: 24%;
  padding: 10px 10px 10px 20px;
}
.categories > div > div {
  width: 60%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}
/* categories section ends here */

/* HOME PAGE ENDS HERE */

/* BLOG PART */
.blog-card {
  border-radius: 10px;
  color: black !important;
  background-color: white;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-777777);
}
.blog-content h5 {
  font-size: 18px;
  color: var(--color-1c1b1b);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}
/* BLOG PART ENDS HERE */

/* PRODUCT SECTION */
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.product-card:hover .action-bar {
  right: 13px;
}
.product-card .product-image {
  height: 270px;
}
.product-card .product-image img {
  object-fit: contain;
}
.product-card .product-image > img:last-child {
  display: none;
}
.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}
.product-card:hover .product-image > img:last-child {
  display: block;
}
.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1b1b);
}
.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1b1b);
}
.action-bar {
  top: 11%;
  right: -23px;
  transition: 0.3s;
}
.wishlist-icon {
  top: 3%;
  right: 15px;
}
/* PRODUCT SECTION ENDS HERE */

/* SPECIAL PRODUCT SECTION */
.special-product-card {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
/* SPECIAL  PRODUCT SECTION ENDS HERE*/
